includes:
    - ./vendor/larastan/larastan/extension.neon
parameters:
    level: 8
    paths:
        - app
    excludePaths:
        - app/Console/Commands/Inspire.php
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    inferPrivatePropertyTypeFromConstructor: true
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
